<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group chat</title>
</head>
<body>
    <div>
        <h2>Chat Window</h2>
        <div id="usersList">
            <h3>Active Users</h3>
            <ul id="activeUsers"></ul>
        </div>
        <div id="chatBox">
            <div id="messages"></div>
            <input type="text" id="messageInput" placeholder="Type your message">
            <button id="sendMessage">Send</button>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../js/chat.js"></script>
</body>
</html>
